<h1>Create</h1>

<form method="post" action="/snippets/create">
  <div>
    <textarea type="text" class="form-control" maxlength="1500" name="description" placeholder="Enter a new snippet.." required="required" autofocus="autofocus" />
    </textarea>
  </div>
<button type="submit" class="btn btn-lg btn-primary">Save</button>
</form>